name: Build

on:
  push:
    tags: [ 'v[0-9]+.[0-9]+-tetrate-v[0-9]+' ]  # v1.16-tetrate-v7
  pull_request:
    branches:
      - main
      - release-**

env:
  GOPROXY: https://proxy.golang.org

jobs:
  test: ## This jobs takes around 2h to complete. Let's not make this a requirement for PRs until we can make it faster.
    runs-on: ubuntu-latest
    env:
      PLATFORMS: linux/amd64
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
      - run: make test
